examples/periodic-poll-for-new-telemetry-data.json
[
    {
        "id": "6e0d669da7c138be",
        "type": "tab",
        "label": "Periodic poll for new telemetry data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd6039a03faaf985",
        "type": "inject",
        "z": "6e0d669da7c138be",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "d242ff28f6ae7e46"
            ]
        ]
    },
    {
        "id": "d242ff28f6ae7e46",
        "type": "rapt-pull",
        "z": "6e0d669da7c138be",
        "account": "",
        "name": "",
        "endpoint": "GetHydrometers",
        "topic": "",
        "split": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "50fa3f82640b7e95",
                "6ca1cdc2a186bac0"
            ]
        ]
    },
    {
        "id": "50fa3f82640b7e95",
        "type": "debug",
        "z": "6e0d669da7c138be",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "6ca1cdc2a186bac0",
        "type": "rapt-pull",
        "z": "6e0d669da7c138be",
        "account": "",
        "name": "",
        "endpoint": "GetTelemetry",
        "topic": "RaptPillTelemetry",
        "split": true,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "372ee63bdf5b7fbe",
                "c5ce8a8218687b79"
            ]
        ]
    },
    {
        "id": "372ee63bdf5b7fbe",
        "type": "debug",
        "z": "6e0d669da7c138be",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "c5ce8a8218687b79",
        "type": "mqtt out",
        "z": "6e0d669da7c138be",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "9ed3fb813b6adc09",
        "type": "comment",
        "z": "6e0d669da7c138be",
        "name": "Set inject to repeat hourly",
        "info": "",
        "x": 170,
        "y": 160,
        "wires": []
    },
    {
        "id": "78f0ab7033ba90bb",
        "type": "comment",
        "z": "6e0d669da7c138be",
        "name": "startDate for API request - defaults to the last time this node was triggered or the current time",
        "info": "",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "34a3d31da66618f9",
        "type": "comment",
        "z": "6e0d669da7c138be",
        "name": "endDate for API request - defaults to current time",
        "info": "",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "972c1db6e3e0daf0",
        "type": "comment",
        "z": "6e0d669da7c138be",
        "name": "Gets telemetry data since the node was last triggered",
        "info": "",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "794308d76363e214",
        "type": "comment",
        "z": "6e0d669da7c138be",
        "name": "Periodically poll for new telemetry data",
        "info": "",
        "x": 210,
        "y": 100,
        "wires": []
    }
]